*.csv filter=lfs diff=lfs merge=lfs -text
*.vasp filter=lfs diff=lfs merge=lfs -text
*.poscar filter=lfs diff=lfs merge=lfs -text
examples/job/create_and_submit_job.ipynb    !filter !diff !merge text
examples/job/get-file-from-job.ipynb    !filter !diff !merge text
examples/job/ml-train-model-predict-properties.ipynb    !filter !diff !merge text
examples/job/run-simulations-and-extract-properties.ipynb   !filter !diff !merge text
examples/material/api_interoperability_showcase.ipynb   !filter !diff !merge text
examples/material/create_material.ipynb !filter !diff !merge text
examples/material/get_materials_by_formula.ipynb    !filter !diff !merge text
examples/material/import_materials_from_materialsproject.ipynb  !filter !diff !merge text
examples/material/import_materials_from_poscar.ipynb    !filter !diff !merge text
examples/system/get_authentication_params.ipynb !filter !diff !merge text
examples/workflow/get_workflows.ipynb !filter !diff !merge text
images/*.png filter=lfs diff=lfs merge=lfs -text
*.upf filter=lfs diff=lfs merge=lfs -text
examples/assets/bash_workflow_template.json filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
