# Requirements for use inside Google Colab, where Jupyter environment is already present

appnope
ase
async-generator
backcall
cycler
exabyte-api-client
jedi
kiwisolver
monty
mpmath
nest-asyncio
networkx
palettable
pymatgen
retrying
ruamel.yaml
ruamel.yaml.clib
spglib
uncertainties
